version: '3'

services:
    wisse-postgres:
        image: postgres:latest
        container_name: wisse-postgres
        hostname: wisse-postgres
        restart: unless-stopped
        environment:
            - POSTGRES_HOST_AUTH_METHOD=trust
        ports:
            - "5432:5432"
        volumes:
            - ./.database/postgres:/var/lib/postgresql/data
            - ./.database/postgres:/var/log/postgresql
        command: -p 5432

    wisse-rabbitmq:
        image: rabbitmq:3.11.8-management
        container_name: wisse-rabbitmq
        hostname: wisse-rabbitmq
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            - RABBITMQ_DEFAULT_USER=guest
            - RABBITMQ_DEFAULT_PASS=guest
        volumes:
            - ./.container/rabbitmq:/var/lib/rabbitmq
            - ./.container/rabbitmq:/var/log/rabbitmq

volumes:
    postgres:
        driver: local
    rabbitmq:
        driver: local