/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --w-blue-50: #f5f9ff;
    --w-blue-100: #d0e1fd;
    --w-blue-200: #abc9fb;
    --w-blue-300: #85b2f9;
    --w-blue-400: #609af8;
    --w-blue-500: #3b82f6;
    --w-blue-600: #326fd1;
    --w-blue-700: #295bac;
    --w-blue-800: #204887;
    --w-blue-900: #183462;
    --w-green-50: #f4fcf7;
    --w-green-100: #caf1d8;
    --w-green-200: #a0e6ba;
    --w-green-300: #76db9b;
    --w-green-400: #4cd07d;
    --w-green-500: #22c55e;
    --w-green-600: #1da750;
    --w-green-700: #188a42;
    --w-green-800: #136c34;
    --w-green-900: #0e4f26;
    --w-yellow-50: #fefbf3;
    --w-yellow-100: #faedc4;
    --w-yellow-200: #f6de95;
    --w-yellow-300: #f2d066;
    --w-yellow-400: #eec137;
    --w-yellow-500: #eab308;
    --w-yellow-600: #c79807;
    --w-yellow-700: #a47d06;
    --w-yellow-800: #816204;
    --w-yellow-900: #5e4803;
    --w-cyan-50: #f3fbfd;
    --w-cyan-100: #c3edf5;
    --w-cyan-200: #94e0ed;
    --w-cyan-300: #65d2e4;
    --w-cyan-400: #35c4dc;
    --w-cyan-500: #06b6d4;
    --w-cyan-600: #059bb4;
    --w-cyan-700: #047f94;
    --w-cyan-800: #036475;
    --w-cyan-900: #024955;
    --w-pink-50: #fef6fa;
    --w-pink-100: #fad3e7;
    --w-pink-200: #f7b0d3;
    --w-pink-300: #f38ec0;
    --w-pink-400: #f06bac;
    --w-pink-500: #ec4899;
    --w-pink-600: #c93d82;
    --w-pink-700: #a5326b;
    --w-pink-800: #822854;
    --w-pink-900: #5e1d3d;
    --w-indigo-50: #f7f7fe;
    --w-indigo-100: #dadafc;
    --w-indigo-200: #bcbdf9;
    --w-indigo-300: #9ea0f6;
    --w-indigo-400: #8183f4;
    --w-indigo-500: #6366f1;
    --w-indigo-600: #5457cd;
    --w-indigo-700: #4547a9;
    --w-indigo-800: #363885;
    --w-indigo-900: #282960;
    --w-teal-50: #f3fbfb;
    --w-teal-100: #c7eeea;
    --w-teal-200: #9ae0d9;
    --w-teal-300: #6dd3c8;
    --w-teal-400: #41c5b7;
    --w-teal-500: #14b8a6;
    --w-teal-600: #119c8d;
    --w-teal-700: #0e8174;
    --w-teal-800: #0b655b;
    --w-teal-900: #084a42;
    --w-orange-50: #fff8f3;
    --w-orange-100: #feddc7;
    --w-orange-200: #fcc39b;
    --w-orange-300: #fba86f;
    --w-orange-400: #fa8e42;
    --w-orange-500: #f97316;
    --w-orange-600: #d46213;
    --w-orange-700: #ae510f;
    --w-orange-800: #893f0c;
    --w-orange-900: #642e09;
    --w-bluegray-50: #f7f8f9;
    --w-bluegray-100: #dadee3;
    --w-bluegray-200: #bcc3cd;
    --w-bluegray-300: #9fa9b7;
    --w-bluegray-400: #818ea1;
    --w-bluegray-500: #64748b;
    --w-bluegray-600: #556376;
    --w-bluegray-700: #465161;
    --w-bluegray-800: #37404c;
    --w-bluegray-900: #282e38;
    --w-purple-50: #fbf7ff;
    --w-purple-100: #ead6fd;
    --w-purple-200: #dab6fc;
    --w-purple-300: #c996fa;
    --w-purple-400: #b975f9;
    --w-purple-500: #a855f7;
    --w-purple-600: #8f48d2;
    --w-purple-700: #763cad;
    --w-purple-800: #5c2f88;
    --w-purple-900: #432263;
    --w-red-50: #fff5f5;
    --w-red-100: #ffd0ce;
    --w-red-200: #ffaca7;
    --w-red-300: #ff8780;
    --w-red-400: #ff6259;
    --w-red-500: #ff3d32;
    --w-red-600: #d9342b;
    --w-red-700: #b32b23;
    --w-red-800: #8c221c;
    --w-red-900: #661814;
    --w-primary-50: #fafcff;
    --w-primary-100: #e5f1ff;
    --w-primary-200: #d1e6fe;
    --w-primary-300: #bcdbfe;
    --w-primary-400: #a8d0fd;
    --w-primary-500: #93c5fd;
    --w-primary-600: #7da7d7;
    --w-primary-700: #678ab1;
    --w-primary-800: #516c8b;
    --w-primary-900: #3b4f65;
}

body {
    color: #222;
    background-color: #f5f5f5;

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
