<w-toast />
<w-confirm />

<w-container direction="column" maxWidth="80rem">
    <w-container gap="gap-5" padding="p-0">
        <w-button
            label="Toast"
            color="p-button-success"
            (click)="showSuccess()"
        />

        <w-button
            label="Dialog"
            color="p-button-warning"
            (click)="showConfirmDialog()"
        />

        <w-button
            label="Popup"
            color="p-button-info"
            (click)="showConfirmPopup($event)"
        />

        <w-button
            label="Click me"
            color="p-button-info"
        />
    </w-container>
</w-container>
